$main-color: #536DFE;
$primary-col: #fff;

@import './mixins';
@import './keyframe';


*,*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid black;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $main-color;
    padding: 5px 30px;

    .logo-name{
        padding: 10px;

        & h1{
            font-size: 20px;
            font-weight: 800;
            color: $primary-col;
            letter-spacing: 2px;
        }
    }

    .logo-navs{
        padding: 10px;
        color: $primary-col;

        li{
            display: inline-block;
            list-style: none;
            text-transform: capitalize;
            font-weight: 700;
            font-size: 15px;
            margin: 0 10px;
            cursor: pointer;
            transition: all .3s ease-in;

            &:hover{
                border-bottom: 1px solid $primary-col;
                transform: scale(1.1);
                padding: 3px;
            }
        }


        .buttons{
            display: inline-block;

            a{
                @include anchor-style;
                color: $primary-col;
                font-size: 15px;
                margin: 0 10px;
            }

            .log-in{
                border: 1px solid $primary-col;
                padding: 10px 20px;

                &:hover{
                    background: $primary-col;
                    color: $main-color;
                }
            }

            .sign-up{
                padding: 10px 20px;
                background: $primary-col;
                color: $main-color;

                &:hover{
                    background: $main-color;
                    color: $primary-col;
                    border: 1px solid $primary-col;
                }
            }
        }
    }
}

#landing{
    background: $main-color;
    position: relative;
    height: 600px;

    .container{
        @include container-style;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .landing-content{
        flex-basis: 50%;
        max-width: 500px;
        color: $primary-col;
        margin-top: 30px;
        animation: landinganimation .5s ease-in;
        
        h1{
            font-size: 28px;
            font-weight: 800;
            text-transform: capitalize;
        }
        p{
            font-size: 18px;
            margin-top: 10px;
            max-width: 400px;
            line-height: 22px;
        }
        button{
            @include anchor-style;
            padding: 20px;
            margin-top: 20px;
            border: 1px solid $primary-col;
            background: none;
            font-size: 20px;
            border-radius: 30px;
            color: $primary-col;

            &:hover{
                background: $primary-col;
                color: $main-color;
                transform: scale(0.95);
            }
        }
    }
    .landing-image{
        flex-basis: 50%;
        max-width: 700px;
        img{
            @include image-style;
        }
    }
    .wave{
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

#features{
    .container{
        @include container-style;
        padding: 20px 0px;

        h1{
            text-align: center;
            font-size: 40px;
        }
        p{
            text-align: center;
            font-size: 20px;
        }

        .grid-container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            grid-gap: 10px;
            background: white;
            padding-top: 30px;
            align-items: baseline;

            .feature-one{
                width: 100%;
                .feature-img{
                    max-width: 200px;
                    img{
                        @include image-style;
                        text-align: center;
                    }
                }
                h4{
                    text-transform: uppercase;
                    font-size: 20px;
                }
            }
            .feature-two{
                width: 100%;
                .feature-img{
                    max-width: 200px;
                    img{
                        @include image-style;
                    }
                }
                h4{
                    text-transform: uppercase;
                    font-size: 20px;
                }
            }
            .feature-three{
                width: 100%;
                .feature-img{
                    max-width: 200px;
                    img{
                        @include image-style;
                    }
                }
                h4{
                    text-transform: uppercase;
                    font-size: 20px;
                }
            }
        }
    }
}

